
DB_DRIVER=pgsql
DB_PATH=storage/database.sqlite

DB_HOST=dpg-d96k7tepuehc73aa9vtg-a.oregon-postgres.render.com
DB_PORT=5432
DB_DATABASE=workflow_engine_14vr
DB_USERNAME=workflow_engine_14vr_user
DB_PASSWORD=xbkklb3F5I0thU6yEPJy5XnMMApPH8Dg
DB_SSLMODE=require

# --- Auth ---
JWT_SECRET=d5698ee150df029f9b2ab8232d0af7ac62ce6102fa7e846f170245a2a4cf7ac8
JWT_TTL_SECONDS=3600
